body {
    background-color: black;
}
#intro_img {
    width: 800px;
    height: 400px;
}
#links {
   float: left;
   font-size: 30px;
   margin-right: 30px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
   margin-right: 400px;
}
#links:hover {
    background-color: green;
}
p {
    font-size: 30px;
    color: white;
}